* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
}

.container {
  width: 85%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container h1 {
  display: flex;
  justify-content: center;
}

.search-container {
  width: 45%;
  display: flex;
}

.search-bar {
  width: 90%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
}

.search-btn {
  width: 10%;
}

.content-container {
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 45%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 2rem;
}

.card {
  background-color: #04daf6;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card img {
  height: 130px;
  padding-bottom: 30px;
}

.right-content {
  background-color: #f3e600;
  width: 45%;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-content img {
  margin: 1rem;
  height: 180px;
}

.pokemon-info {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pokemon-info img {
  width: 80px;
  height: 80px;
}

.pokemon-info h5,
.pokemon-info h6 {
  padding-bottom: 15px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn-group button {
  width: 150px;
  height: 40px;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
}
